body {
    font-family: Arial, sans-serif;
    background-image: url("https://i.pinimg.com/564x/55/76/22/5576227d98fd1f39766045e053607cf5.jpg");
    background-size:cover;
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.786);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

label {
    margin: 10px 0 5px;
    display: block;
}

input[type="text"],
input[type="number"],
input[type="tel"],
input[type="date"],
select {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#message {
    margin-top: 15px;
    text-align: center;
    color: green;
}
