/* styles.css */
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #267228, #6eb870);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
    animation: fadeIn 1s ease-in-out;
}

.form-container {
    padding: 30px;
}

.form {
    display: flex;
    flex-direction: column;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

input[type="text"], input[type="password"], button {
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

input[type="text"], input[type="password"] {
    background: #f9f9f9;
}

button {
    background: #267228;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #267228;
}

p {
    text-align: center;
}

a {
    color: #267228;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #267228;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
