
body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url("https://i.pinimg.com/564x/1e/5c/98/1e5c98ac87ca6f8b51432d9f47cafb81.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
}
.header {
    background:#b2d3f6;
    background-repeat:no repeat;
    background-attachment:fixed;
    font-family:Verdana, Tahoma, sans-serif;
    color: white;
    padding: 20px;
    text-align: center;
}
.profile {
    margin-top: 20px;
    text-align: right;
    padding-right: 20px;
}
.content {
    padding: 10px;
    text-align: center;
    
}
h2 {
    color: #0c0d0d;
    background-color: rgba(230, 210, 210, 0.412);
}
.button {
    display: inline-block;
    padding: 20px 20px;
    margin: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 100px;
}
.button:hover {
    background-color: #0056b3;
}
